{% raw %}
<style type="text/css">
  .loadingGif {
    width: 25px;
    height: 25px;
    margin: 20px auto;
    display: block;
  }
</style>
<script>
  function createLoadingGif(id){
    var source = $("#loadingGifTemplate").html();
    var template = Handlebars.compile(source);
    var context = {
      id:id || ""
    };
    return template(context).trim();
  }
</script>
<script id="loadingGifTemplate" type="text/x-handlebars-template">
  <img class='loadingGif' src='/images/loading.gif' id="{{ id }}">
</script>
{% endraw %}