<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Spotify Cleanup</title>
    <link rel="stylesheet" type="text/css" href="/css/manualClean.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% include 'templates.html' %}
  </head>

  <body>
    <h1 id="headline">Spotify Cleanup</h1>
    <div class="mainContainer">
      <ol class="playlistList">
        {% for playlist in playlists %}
          <li class="playlistItem" id="{{ playlist.id }}" owner={{ playlist.owner }}>{{ playlist.name }}</li>
        {% endfor %}
      </ol>
      <div class="otherContainer">
        <div class="tabs">
          <div id="duplicates" class="tab">Duplicates</div>
          <div id="deads" class="tab">Dead Tracks</div>
        </div>
        <div class="tracksDisplay">
          <div class="emptyTracksInfoBox">
            Pick a playlist on the left to get started!
          </div>
        </div>
      </div>
    </div>
    <script src="/js/manualClean.js"></script>
  </body>
</html>
