<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Playlists</title>
    <link rel="stylesheet" type="text/css" href="/css/playlists.css">
  </head>

  <body>
    <a href="/">Home</a>
    <h1>Playlists</h1>
    <input class="loadAllSongsBtn pure-button" type="submit" value="Load All Playlists' Dead Songs">
    {% for playlist in playlists %}
      <h2>{{ playlist.name }}
        <a class=linkIcon href="http://open.spotify.com/user/{{ playlist.owner }}/playlist/{{ playlist.id }}">🔗</a>
      </h2>
      <input class="loadSongBtn pure-button" type="submit" value="Load Dead Songs"
             urlToGet="/getDeadSongs?owner={{ playlist.owner }}&id={{ playlist.id }}&name={{ playlist.name }}">
      <div id="dead-tracks-{{ playlist.id }}"></div>
      <br>
    {% endfor %}

    <script src="/js/playlists.js"></script>
  </body>
</html>
