{% raw %}
<style type="text/css">
  .track {
    display: inline-block;
    border-right: grey dotted;
  }
  .track > .albumArt {
    width: 150px;
    padding: 10px;
    display: inline-block;
    position: relative;
  }
  .track > .albumArt:hover > img, .track > .albumArt.playing > img {
    opacity: 0.5;
  }
  .track > .albumArt:hover::after, .track > .albumArt.playing::after {
    font-size: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "play_arrow";
  }
  .track > .albumArt.playing::after {
    content: "pause";
  }
  .track > .albumArt > img {
    width: 100%;
  }
  .track > .delete {
    background-color: #dd2400;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    display: inline-block;
    margin-top: 9px;
    padding: 1px 5px;
    vertical-align: top;
    margin-right: 10px;
    user-select: none;
    cursor: pointer;
  }
  .track > .trackDetails {
    vertical-align: top;
    padding: 10px 10px 10px 0;
    flex-direction: column;
    justify-content: space-between;
    display: inline-flex;
    min-height: 150px;
    width: 150px;
  }
  .track > .trackDetails > p {
    margin: 0;
    overflow-wrap: break-word;
    white-space: normal;
    padding: 4px 0;
  }
</style>
<script>
  function createTrack(context){
    var source = $("#trackTemplate").html();
    var template = Handlebars.compile(source);
    return template(context).trim();
  }
</script>
<script id="trackTemplate" type="text/x-handlebars-template">
  <div class="track" id="{{ spotifyID }}-{{ index }}">
    <div class="albumArt material-icons" title="{{ album }}">
      <img src="{{ albumArt }}">
    </div>
    <div class="trackDetails">
      <p class="title" title="Title">{{ title }}</p>
      <p class="artists" title="Artists">{{ artists }}</p>
      <p class="duration" title="Duration">{{ duration }}</p>
      <p class="added_at" title="Date Added">{{ added_at }}</p>
    </div>
    <div id="{{ spotifyID }}-{{ index }}-delete" class="delete" title="Delete track">x</div>
    <audio id="{{ spotifyID }}-{{ index }}-audio" class="trackPreview">
      <source
        src="{{ preview_url }}"
        type="audio/ogg">
    </audio>
  </div>
  <script>
    if (typeof(volume) != "undefined") {
      $('#{{ spotifyID }}-{{ index }}-audio').get(0).volume = volume;
    }
    if (typeof(mute) != "undefined") {
      $('#{{ spotifyID }}-{{ index }}-audio').get(0).muted = mute;
    }
    $('#{{ spotifyID }}-{{ index }} .albumArt').click(function(){
      var audioDiv = $('#{{ spotifyID }}-{{ index }}-audio').get(0);
      if (audioDiv.paused) {
        $('.trackPreview').each(function(index){
          if (!this.paused) {
            this.pause();
            this.currentTime = 0;
            $(this).parent().children('.albumArt').removeClass('playing');
          }
        });
        audioDiv.play();
        $(this).addClass('playing');
      } else {
        audioDiv.pause();
        audioDiv.currentTime = 0;
        $(this).removeClass('playing');
      }
    });

    $('#{{ spotifyID }}-{{ index }}-audio').get(0).onended = function(){
      $(this).parent().children('.albumArt').removeClass('playing');
    };

    $('#{{ spotifyID }}-{{ index }}-delete').click(function(){
      var currentPlaylistTab = $('.playlistItem.selected')[0];
      deleteTrack("{{ spotifyID }}", currentPlaylistTab.id, {{ index }}, currentPlaylistTab.getAttribute("snapshot_id"));
    });
</script{{ undefined }}>
</script>
{% endraw %}
