{% raw %}
<style type="text/css">
  .track {
    display: inline-block;
  }
  .track > .albumArt {
    width: 150px;
    padding: 10px;
  }
  .track > .trackDetails {
    vertical-align: top;
    padding: 10px 10px 10px 0;
    flex-direction: column;
    justify-content: space-between;
    display: inline-flex;
    min-height: 150px;
    width: 150px;
  }
  .track > .trackDetails > p {
    margin: 0;
    overflow-wrap: break-word;
    white-space: normal;
    padding: 4px 0;
  }
</style>
<script>
  function createTrack(context){
    var source = $("#trackTemplate").html();
    var template = Handlebars.compile(source);
    return template(context).trim();
  }
</script>
<script id="trackTemplate" type="text/x-handlebars-template">
  <div class="track" id="{{ spotifyID }}-{{ index }}">
    <img src="{{ albumArt }}" class="albumArt" title="{{ album }}">
    <div class="trackDetails">
      <p class="title" title="Title">{{ title }}</p>
      <p class="artists" title="Artists">{{ artists }}</p>
      <p class="duration" title="Duration">{{ duration }}</p>
      <p class="added_at" title="Date Added">{{ added_at }}</p>
    </div>
    <audio id="{{ spotifyID }}-{{ index }}-audio" class="trackPreview">
      <source
        src="{{ preview_url }}"
        type="audio/ogg">
    </audio>
  </div>
  <script>
    if (typeof(volume) != "undefined") {
      $('#{{ spotifyID }}-{{ index }}-audio').volume = volume;
    }
    $('#{{ spotifyID }}-{{ index }} .albumArt').click(function(){
      var audioDiv = $('#{{ spotifyID }}-{{ index }}-audio').get(0);
      if (audioDiv.paused) {
        $('.trackPreview').each(function(index){
          if (!this.paused) {
            this.pause();
            this.currentTime = 0;
          }
        });
        audioDiv.play();
      } else {
        audioDiv.pause();
        audioDiv.currentTime = 0;
      }
    });
</script{{ undefined }}>
</script>
{% endraw %}
