#headline {
    text-align: center;
}
body {
    margin: 0;
}
.mainContainer {
    display: flex;
    border: 2px solid #ccc;
    max-height: 80vh;
    width: 95vw;
    margin: 0 auto;
}
.playlistList {
    min-width: 15vw;
    max-width: 25vw;
    overflow: auto;
    border-right: 2px solid #ccc;
    padding: 0;
    margin: 0;
    overflow-wrap: break-word;
    hyphens: auto;
    flex-grow: 1;
}
.playlistItem {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    list-style: none;
    cursor: pointer;
    transition: background-color 0.05s;
}
.playlistItem:last-child {
    border-bottom: none;
}
.playlistItem:hover {
    background-color: #eee;
}
.playlistItem.selected {
    background-color: #ddd;
}
.emptyTracksInfoBox {
    text-align: center;
    font-size: 25px;
    margin: 20px 0 0;
}
.otherContainer {
    flex-grow: 5;
    min-width: 0;
    display: flex;
    flex-direction: column;
}
.tabs {
    display: flex;
    min-height: fit-content;
}
.tab {
    flex-grow: 1;
    text-align: center;
    background-color: #eeeeee;
    transition: background-color .1s;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    border: solid #ccc;
    border-width: 0 1px 1px 0;
    cursor: pointer;
}
.tab:last-child {
    border-right: none;
}
.tab:hover {
    background-color: #e2e2e2;
}
.tab.selected {
    background-color: #ddd;
}
.tracksDisplay {
    overflow: auto;
    max-width: 100%;
    min-width: 0;
    flex-grow: 1;
    padding-top: 10px;
}
.trackRow {
    white-space: nowrap;
    border-bottom: #ccc solid 1px;
}
.trackRow:last-child {
    border-bottom: none;
}
.volumeContainer {
    position: absolute;
    right: calc(2.5vw - 50px);
    top: 20px;
}
